.switcher {
  margin: 20px 0 40px;
}

.switcher label {
  text-align: left;
  line-height: 24px;
}

.switcher input {
  margin-left: 5px;
  margin-right: 5px;
}

p.explanation {
  text-transform: none;
  font-size: 12px;
  display: flex;
}
