.row {
  display: flex;
  margin-bottom: 10px;
  line-height: 24px;
}

.row input {
  margin-right: 10px;
}

.row button {
  border: none;
  background: none;
  cursor: pointer;
  color: #999;
  height: 25px;
}

*:active, *:focus {
  outline: none;
}

.row span:hover {
  color: #cc7a6f;
}

.row input:focus,
.row--highlighted input {
  border-color: #3b99fc;
  color: #3b99fc;
}

.row--invalid input:focus,
.row--invalid input {
  border-color: #cc7a6f;
  color: #cc7a6f;
}

.row label {
  margin-right: 10px;
}
.row label input {
  margin-right: 5px;
}
