.stopwatch {
  position: relative;
  padding: 13px 0 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: bottom;
  margin: 0px 10px 7px
}

.stopwatch_top {
  height: 5px;
  width: 15px;
  position: absolute;
  background: #444;
  top: 5px;
  left: calc(50% - 9px);
}

.stopwatch_right {
  height: 7px;
  width: 6px;
  position: absolute;
  background: #444;
  top: 14px;
  left: 77%;
  transform: rotate(45deg);
}

.stopwatch_arc {
  position: relative;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius:100%;
  border: 5px solid #444;
}

.stopwatch_second {
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: .5s;
  height: calc(100% - 10px);
  width: 5px;
  position: absolute;
  background: -webkit-linear-gradient(top, #444, #444 50%, transparent 50%, transparent 50%);
  top: 5px;
  left: calc(50% - 2.5px);
}

@-webkit-keyframes rotate0 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes rotate1 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
.stopwatch_second--animate0 {
  -webkit-animation-name: rotate0;
}
.stopwatch_second--animate1 {
  -webkit-animation-name: rotate1;
}
